<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MonitoreoPing.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MonitoreoPing.Properties.Settings.Conexion" connectionString="Data Source=cot-cdc-esb03;Initial Catalog=PingLog;Persist Security Info=True;User ID=pinglog;Password=pinglog"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <MonitoreoPing.Properties.Settings>
            <setting name="TiempoPing" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value>cot-cdc-ems03</value>
            </setting>
        </MonitoreoPing.Properties.Settings>
    </applicationSettings>
</configuration>